---
layout: slide
---
{{{ slide.content }}}
<hr/>
<div id="wrpper">
  <!-- LEFT PARAGRAPH -->
  <div style='float:left;width:{{{ slide.wl }}}%;padding: 0 10px 0 10px;'>
    {{{ slide.left.html }}}
  </div>

  <!-- RIGHT PARAGRAPH -->
  <div style='float:right;width:{{{ slide.wr }}}%;padding: 0 10px 0 10px;'>
    {{{ slide.right.html }}}
  </div>

  <!-- CENTER PARAGRAPH -->
  <div style='margin-left:{{{ slide.wl }}}%; margin-right:{{{slide.wr}}}%;padding: 0 10px 0 10px;'>
    {{{ slide.center.html }}}
  </div>

</div>
